.header {
  display: flex;
  width: 100%;
  height: 146px;
  background-color: #333333;

  &__section {
    margin: 0 auto;
    width: 74%;
    height: 146px;
  }
}

.top_part {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100%;
}

.figure {
  width: 118px;
  height: 80px;
  cursor: pointer;

  &__logo {
    background-color: #333333;
    position: absolute;
    color: #8a72ff;
    height: 29px;
    top: 41px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-left: 17px;
  }

  &__circle {
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 48px;
    top: 30px;
    background: #333333;
    border: 3px solid #74c4ff;
    border-radius: 20px;
  }
}

.search {
  width: 201px;
  height: 73px;
  cursor: pointer;

  &__input {
    box-sizing: border-box;
    position: absolute;
    width: 201px;
    height: 33px;
    top: 40px;
    background: #333333;
    border: 1px solid #be72ff;
    border-radius: 3px;
    padding-left: 5px;
    font-family: "Helvetica Neue";
    font-size: 15px;
    color: white;
  }

  &__square {
    position: absolute;
    width: 72px;
    background-color: #be72ff;
    border-radius: 3px;
    height: 31px;
    top: 41px;
    margin-left: 129px;
    transition: 0.3s;

    &:hover .search__square-text {
      color: white;
      text-shadow: 0px 0px 5px black;
      transition: 0.3s;
    }
  }

  &__square-text {
    height: 17px;
    top: 48px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 700px;
    color: #333333;
    text-shadow: 0px 0px 5px #74c4ff;
    margin-left: 11px;
  }
}

.bottom-part {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 49px;

  &__menu-option {
    display: inline-block;
    width: 123px;
    height: 47px;
    background: #333333;
    cursor: pointer;

    &:hover {
      background-color: rgba(116, 196, 255, 0.5);
    }
  }
}

.option-text {
  position: absolute;
  width: 72px;
  height: 17px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 16px;
  color: rgb(255, 255, 255);
}

.active {
  display: inline-block;
  margin-left: 0;
  width: 123px;
  height: 47px;
  background: #74c4ff;
  border-radius: 2px;
}

.active_option {
  margin-left: 40px;
  font-weight: 700;
  color: black;
}
