.footer_wrapper {
    width: 100%;
    height: 95px;
    background: #8a72ff;
  }
  
  .footer_section {
    width: 74%;
    height: 95px;
    margin: auto;
  }
  
  .footer_text {
    position: absolute;
    height: 22px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: 38px;
    margin-left: 465px;
  }
  